# Binaries
Ditto
Ditto.exe
ditto-p.exe
Ditto-linux
Ditto-macos
*.exe

# Go
go.sum

# Temp directories
tmp/
temp/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bundled outputs
*.bundle
*.meta.json
